<div class="panel-viewer">
    <mat-accordion>
        <mat-expansion-panel expanded='true'>
            <mat-expansion-panel-header class="panel-header">
                <mat-panel-title>
                    Complaint/Query
                </mat-panel-title>
                <mat-panel-description>
                    Provide your complaint or query details below
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <form [formGroup]="queryForm" class="form-class">
                    <mat-form-field>
                        <input matInput type="text" formControlName="fullname" placeholder="Full Name" required>
                                            </mat-form-field>

                    <mat-form-field>
                        <input matInput type="email" formControlName="email" placeholder="Email ID" required>
                        
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="tel" formControlName="mobile" placeholder="Mobile No." required>
                        
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Select Category</mat-label>
                        <select matNativeControl formControlName="category" required>
                            <option value="query">Query</option>
                            <option value="complaint">Complaint</option>
                        </select>
                        
                    </mat-form-field>

                    <mat-form-field class="form-text-area">
                        <mat-label>More details</mat-label>
                        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="4" cdkAutosizeMaxRows="7" formControlName="details" placeholder="Provide more details here..."
                            required></textarea>
                        
                    </mat-form-field>
                </form>
            </ng-template>
            <mat-action-row class="action-row">
                <button mat-button type="submit" [disabled]="!queryForm.valid" (click)="query(queryForm.value)"
                    class="submit-button">Submit</button>
            </mat-action-row>
        </mat-expansion-panel>

        
    </mat-accordion>

    <div class="contact-details">
        <div class="contact-details-header">
            <div class="contact-title">
                Contact Details
            </div>
            <mat-chip-list>
                <mat-chip color="primary" selected>Recommended</mat-chip>
            </mat-chip-list>
        </div>
        <div class="contact-details-content">
            <div class="contact-details-content-data">
                <p>Connect over mobile : 1234567890</p>
                <p>Connect over mail : abcdd@gmail.com</p>
            </div>
        </div>
    </div>
</div>